.wy-nav-content {
    max-width: 1200px;
}


.fa-plus-square-o::before, .wy-menu-vertical li button.toctree-expand::before {
  content: "" !important;
}
.fa-minus-square-o::before, .wy-menu-vertical li.current > a button.toctree-expand::before, .wy-menu-vertical li.on a button.toctree-expand::before {
  content: "" !important;
}


.wy-table-responsive table td, .wy-table-responsive table th {
   white-space: normal !important;
}
.rst-content table.docutils td, .rst-content table.docutils th, .rst-content table.field-list td, .rst-content table.field-list th, .wy-table td, .wy-table th {
    padding: 8px 8px !important;
}


/* smaller dropdown cards */
.sd-mb-3, .sd-my-3 {
  margin-bottom: .75rem !important;
}
details.sd-dropdown summary {
  padding: .5em !important;
}
details.sd-dropdown .sd-summary-up, details.sd-dropdown .sd-summary-down {
  right: .5em !important;
  top: .5em !important;
}


/* Fix missing line-wrapping with Sphinx-RTD theme */
/* https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */

/* override table width restrictions */
       /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
/*@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
       white-space: normal !important;
    }
 
    .wy-table-responsive {
       overflow: visible !important;
    }
}*/



/*div.leftside {
  width: 43%;
  padding: 0px 3px 0px 0px;
  float: left;
}
div.rightside {
  margin-left: 45%;
  /* float: right; /
}*/
