.wy-nav-content {
    max-width: none;
}
.wy-table-responsive table td {
    white-space: normal !important;
}

.fa-plus-square-o::before {
  content: "" !important;
}
.fa-minus-square-o::before {
  content: "" !important;
}
